# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [11]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis = 1)
baby_names

KeyError: "['Unnamed:0', 'Id'] not found in axis"

### Step 6. Is there more male or female names in the dataset?

In [5]:
baby_names.Gender.value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [6]:
baby_names.Gender.describe()

count     1016395
unique          2
top             F
freq       558846
Name: Gender, dtype: object

### Step 7. Group the dataset by name and assign to names

In [7]:
names = baby_names.groupby('Name')
names

In [8]:
names = baby_names.drop('Year', axis = 1).groupby('Name').sum()
names

C:\Users\m7med\AppData\Local\Temp\ipykernel_12076\555114332.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  names = baby_names.drop('Year', axis = 1).groupby('Name').sum()

         Count
Name
Aaban       12
Aadan       23
Aadarsh      5
Aaden     3426
Aadhav       6
...        ...
Zyra        42
Zyrah       11
Zyren        6
Zyria       59
Zyriah      58

[17632 rows x 1 columns]

### Step 8. How many different names exist in the dataset?

In [12]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [13]:
baby_names.groupby('Name').Count.sum().sort_values(ascending = False)

Name
Jacob         242874
Emma          214852
Michael       214405
Ethan         209277
Isabella      204798
               ...
Eniola             5
Atlantis           5
Marci              5
Simarpreet         5
Nita               5
Name: Count, Length: 17632, dtype: int64

### Step 10. How many different names have the least occurrences?

In [15]:
names[names.Count == names.Count.min()].shape[0]

2578

### Step 11. What is the median name occurrence?

In [14]:
(names.Count == names.Count.median()).sum()

66

### Step 12. What is the standard deviation of names?

In [16]:
baby_names.groupby('Name').Count.sum().std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [17]:
baby_names.describe()

               Year         Count
count  1.016395e+06  1.016395e+06
mean   2.009053e+03  3.485012e+01
std    3.138293e+00  9.739735e+01
min    2.004000e+03  5.000000e+00
25%    2.006000e+03  7.000000e+00
50%    2.009000e+03  1.100000e+01
75%    2.012000e+03  2.600000e+01
max    2.014000e+03  4.167000e+03